<% layout('layout') %>
<h1 class="mb-4">Welcome to FileShare</h1>
<p class="lead">A simple way to upload and share files with anyone. Sign up to start uploading!</p>
<a class="btn btn-primary btn-lg" href="/signup">Get Started</a>